---
import Base from '../../layouts/Base.astro';
---

<Base title="Hadoku - Contact">
  <hadoku-header></hadoku-header>
  <div id="root" data-app="contact"></div>
  
  <script src="../../components/hadoku-header.js"></script>
  <script src="../../components/mf-loader.js"></script>
</Base>
