---
import Base from '../layouts/Base.astro';
---

<Base title="Hadoku - Home">
  <hadoku-header></hadoku-header>
  <div id="root" data-app="home"></div>
  
  <script src="../components/hadoku-header.js"></script>
  <script src="../components/mf-loader.js"></script>
</Base>
